.detailWeather {
  @include setGlass();
  text-align: center;
  height: 180px;
  width: 190px;
  margin: 0 5px 10px 5px;
  letter-spacing: 0.05em;

  .icon i {
    font-size: 3em;
    position: relative;
    top: 30px;
  }
  .title {
    position: relative;
    top: 50px;
    font-weight: 300;
  }
  .description {
    position: relative;
    top: 50px;
    font-weight: 100;
  }
}
